In [1]:
import pandas as pd

In [2]:
coordinates_path = "../../resources/data/Coordenadas/lat_lon.csv"

In [3]:
coordinates = pd.read_csv(coordinates_path, encoding='latin-1')
coordinates.head()

   LATITUD  LONGITUD     ID
0    25.81   -100.48  19001
1    26.43    -99.57  19002
2    26.28    -99.36  19003
3    25.42   -100.25  19004
4    27.39   -100.32  19005

In [4]:
first_path = "../../resources/data/Relacion ID-Municipios/ID-Municipios.csv"

In [5]:
id_municipality = pd.read_csv(first_path, encoding='latin-1')
id_municipality.head()

      ID    Municipio
0  19001      Abasolo
1  19002   Agualeguas
2  19003  Los Aldamas
3  19004      Allende
4  19005      Anáhuac

In [6]:
approved_df = pd.merge(id_municipality, coordinates, on = "ID", how = "inner")
approved_df

       ID                 Municipio  LATITUD  LONGITUD
0   19001                   Abasolo    25.81   -100.48
1   19002                Agualeguas    26.43    -99.57
2   19003               Los Aldamas    26.28    -99.36
3   19004                   Allende    25.42   -100.25
4   19005                   Anáhuac    27.39   -100.32
5   19006                   Apodaca    25.71   -100.36
6   19007                 Aramberri    24.31    -99.74
7   19008                Bustamante    26.57   -100.55
8   19009         Cadereyta Jiménez    25.60   -100.25
9   19010                 El Carmen    25.80   -100.46
10  19011                  Cerralvo    26.30    -99.61
11  19012         Ciénega de Flores    25.82   -100.35
12  19013                     China    25.67    -99.39
13  19014                Dr. Arroyo    23.65   -100.35
14  19015                  Dr. Coss    25.80    -99.36
15  19016              Dr. González    25.76    -99.81
16  19017                   Galeana    24.74   -100.29
17  19018                    García    25.73   -100.60
18  19019    San Pedro Garza García    25.64   -100.49
19  19020               Gral. Bravo    25.72    -99.35
20  19021            Gral. Escobedo    25.73   -100.44
21  19022               Gral. Terán    25.40    -99.66
22  19023             Gral. Treviño    26.38    -99.54
23  19024            Gral. Zaragoza    23.83    -99.71
24  19025              Gral. Zuazua    25.78   -100.31
25  19026                 Guadalupe    25.65   -100.40
26  19027              Los Herreras    25.79    -99.49
27  19047                   Hidalgo    25.83   -100.51
28  19028                  Higueras    25.82   -100.25
29  19029               Hualahuises    24.78    -99.65
30  19030                  Iturbide    24.68    -99.79
31  19031                    Juárez    25.55   -100.30
32  19032       Lampazos de Naranjo    27.26   -100.55
33  19033                   Linares    24.76    -99.59
34  19034                     Marín    25.77   -100.27
35  19035            Melchor Ocampo    26.28    -99.57
36  19036            Mier y Noriega    23.50   -100.32
37  19037                      Mina    26.25   -100.56
38  19038              Montemorelos    25.36    -99.74
39  19039                 Monterrey    25.64   -100.43
40  19040                     Parás    26.54    -99.56
41  19041                 Pesquería    25.71   -100.28
42  19042               Los Ramones    25.66    -99.62
43  19043                   Rayones    25.26   -100.29
44  19044           Sabinas Hidalgo    26.54   -100.35
45  19045          Salinas Victoria    25.82   -100.42
46  19046  San Nicolás de los Garza    25.70   -100.42
47  19048            Santa Catarina    25.65   -100.52
48  19049                  Santiago    25.50   -100.34
49  19050                Vallecillo    26.64    -99.84
50  19051                Villaldama    26.54   -100.50

In [7]:
approved_df.to_csv("../output/coordinates.csv", index = True)

In [8]:
approved_df.to_json("../output/coordinatesr.js", orient = "records")

In [9]:
approved_df.to_json("../output/coordinatesc.js", orient = "columns")