In [6]:
import pandas as pd
import numpy as np

In [17]:
temp_content = pd.read_csv('NL_AYUN_2018.csv', skiprows=5, 
                           names = ['CLAVE_CASILLA','CLAVE_ACTA','ID_ESTADO','ESTADO',
                                    'ID_MUNICIPIO','MUNICIPIO','SECCION','ID_CASILLA','TIPO_CASILLA','EXT_CONTIGUA',
                                    'UBICACION_CASILLA','TIPO_ACTA','TOTAL_BOLETAS_SOBRANTES','TOTAL_PERSONAS_VOTARON',
                                    'TOTAL_REP_PARTIDO_CI_VOTARON','TOTAL_VOTOS_SACADOS','PAN','PRI','PRD','PT',
                                    'PVEM','MC','NAPPN','MORENA','PES','RED','C_PRI_PVEM','C_PT_MORENA_PES',
                                    'C_PT_MORENA','C_PT_PES','C_MORENA_PES','CI_1','CI_2','CI_3','CI_4','CI_5','CI_6',
                                    'CNR','Votos Anulados','TOTAL_VOTOS_ASENTADO','TOTAL_VOTOS_CALCULADO','LISTA_NOMINAL',
                                    'REPRESENTANTES_PP_CI','OBSERVACIONES','CONTABILIZADA','MECANISMOS_TRASLADO','SHA',
                                    'FECHA_HORA_ACOPIO','FECHA_HORA_CAPTURA','FECHA_HORA_VERIFICACION','ORIGEN',
                                    'DIGITALIZACION','TIPO_DOCUMENTO'])

In [18]:
temp_content

,CLAVE_CASILLA,CLAVE_ACTA,ID_ESTADO,ESTADO,ID_MUNICIPIO,MUNICIPIO,SECCION,ID_CASILLA,TIPO_CASILLA,EXT_CONTIGUA,...,OBSERVACIONES,CONTABILIZADA,MECANISMOS_TRASLADO,SHA,FECHA_HORA_ACOPIO,FECHA_HORA_CAPTURA,FECHA_HORA_VERIFICACION,ORIGEN,DIGITALIZACION,TIPO_DOCUMENTO
0,190001B0100,190001B01005,19,NUEVO LEON,1,Abasolo,1,1,B,NaN,...,NaN,1,F,NaN,NaN,04/07/2018 12:09:56,NaN,NaN,NaN,
1,190001C0201,190001C02015,19,NUEVO LEON,1,Abasolo,1,2,C,1.0,...,NaN,1,F,NaN,NaN,04/07/2018 12:11:31,NaN,NaN,NaN,
2,190002B0100,190002B01005,19,NUEVO LEON,1,Abasolo,2,1,B,NaN,...,NaN,1,F,NaN,NaN,04/07/2018 12:12:38,NaN,NaN,NaN,
3,190002C0201,190002C02015,19,NUEVO LEON,1,Abasolo,2,2,C,1.0,...,NaN,1,F,NaN,NaN,04/07/2018 12:14:12,NaN,NaN,NaN,
4,190003B0100,190003B01005,19,NUEVO LEON,2,Agualeguas,3,1,B,NaN,...,NaN,1,F,NaN,NaN,04/07/2018 10:53:05,NaN,NaN,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6533,192732B0100,192732B01005,19,NUEVO LEON,6,Apodaca,2732,1,B,NaN,...,NaN,1,F,NaN,NaN,06/07/2018 00:40:51,NaN,NaN,NaN,
6534,192733B0100,192733B01005,19,NUEVO LEON,26,Guadalupe,2733,1,B,NaN,...,NaN,1,F,NaN,NaN,06/07/2018 14:31:08,NaN,NaN,NaN,
6535,192734B0100,192734B01005,19,NUEVO LEON,47,San Nicolas de los Garza,2734,1,B,NaN,...,NaN,1,F,NaN,NaN,06/07/2018 17:15:07,NaN,NaN,NaN,
6536,192736B0100,192736B01005,19,NUEVO LEON,6,Apodaca,2736,1,B,NaN,...,NaN,1,F,NaN,NaN,06/07/2018 12:42:31,NaN,NaN,NaN,
6537,192737B0100,192737B01005,19,NUEVO LEON,21,Gral. Escobedo,2737,1,B,NaN,...,NaN,1,F,NaN,NaN,04/07/2018 20:26:59,NaN,NaN,NaN,